/* ---------------------- FONTS ------------------------------*/
//@font-face {
//    font-family: "BebasNeueBold";
//    font-weight: normal;
//    font-style: normal;
//    src: url("../fonts/BebasNeueBold.otf"); }
//$BebasNeueBold: "BebasNeueBold", sans-serif;
//
//@font-face {
//    font-family: "BebasNeueRegular";
//    font-weight: normal;
//    font-style: normal;
//    src: url("../fonts/BebasNeueRegular.otf"); }
//$BebasNeueRegular: "BebasNeueRegular", sans-serif;
//
//@font-face {
//    font-family: "ProximaNovaRegular";
//    font-weight: normal;
//    font-style: normal;
//    src: url("../fonts/ProximaNovaRegular.otf"); }
//$ProximaNovaRegular: "ProximaNovaRegular", sans-serif;
//
//@font-face {
//    font-family: "ProximaNovaBold";
//    font-weight: normal;
//    font-style: normal;
//    src: url("../fonts/ProximaNovaBold.otf"); }
//$ProximaNovaBold: "ProximaNovaBold", sans-serif;
//
//@font-face {
//    font-family: "ProximaNovaExtrabold";
//    font-weight: normal;
//    font-style: normal;
//    src: url("../fonts/ProximaNovaExtrabold.otf"); }
//$ProximaNovaExtrabold: "ProximaNovaExtrabold", sans-serif;
/*************************************************************/

@import "../fonts/BebasNeueBold/styles.css";
$BebasNeueBold: "BebasNeueBold", sans-serif;

@import "../fonts/BebasNeueRegular/styles.css";
$BebasNeueRegular: "BebasNeueRegular", sans-serif;

@import "../fonts/ProximaNova-Regular/styles.css";
$ProximaNovaRegular: "ProximaNova-Regular", sans-serif;

@import "../fonts/ProximaNova-Bold/styles.css";
$ProximaNovaBold: "ProximaNova-Bold", sans-serif;

@import "../fonts/ProximaNova-Extrabld/styles.css";
$ProximaNovaExtrabold: "ProximaNova-Extrabld", sans-serif;