.svg-soc-icon-1 {
  background: url("../images/svg-sprite.svg") 53.35119% 99.66816% no-repeat;
  width: 33.57px;
  height: 60.73px; }

.svg-soc-icon-2 {
  background: url("../images/svg-sprite.svg") 0 0 no-repeat;
  width: 105.29px;
  height: 60.07px; }

.svg-soc-icon-3 {
  background: url("../images/svg-sprite.svg") 0 99.98336% no-repeat;
  width: 71.72px;
  height: 60.92px; }

.svg-soc-icon-4 {
  background: url("../images/svg-sprite.svg") 99.64982% 0 no-repeat;
  width: 62.34px;
  height: 62.14px; }
